<% if @books.blank? %>
<p>There are not any books currently in the system.</p>
<% else %>
<p>These are the current books in our system</p>

<ul id = "books">
   <% @books.each do |c| %>
   <li><%= link_to c.title, {:action => 'show', :id => c.id, :s_id =>c.subject_id}%></li>
   <li><a href="/book/show?id=<%= c.id %>&s_id=<%=c.subject_id%>"><%= c.title %></a></li>
   <% end %>
</ul>

<% end %>
<p><%= @msg %></p>
<p><a href="/book/new">Add new Book</a></p>